<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:insert="~{fragments/fragments :: resources}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:replace="fragments/fragments :: navbar('photos', ${keyword}, false)"></th:block>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h3 class="mb-4">FOTO: [[${photo.title}]]</h3>
            <p class="mb-3">descrizione: [[${photo.description}]]</p>
            <p>visibile: [[${photo.visible} ? 'si' : 'no']]</p>
            <div th:if="${photo.categories.size() > 0}">
                <h6>CATEGORIE:</h6>
                <ul style="list-style: none">
                    <li th:each="category : ${photo.categories}" th:text="${category.name}"></li>
                </ul>
            </div>
        </div>

        <div class="col-6">
            <img th:src="${photo.url}">
        </div>
    </div>


</div>

</body>
</html>
